ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}


li a {
  height: 23rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin:0 1.5rem 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
}

li:hover{
  opacity: 0.7;
  cursor: pointer;
}

li a img{
  object-fit: fill;
  height: 14.5rem;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.favorite{
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 1.2rem;
}

.favorite.not{
  color:gray;
}

.stars{
  margin-bottom: 0.2rem;
}

.product-item-footer{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins{
  flex:9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  color: grey;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  padding: 0 0.5rem 0 0.5rem;
  margin-top: 0.2rem;
  text-align: left;
}

.cook-time{
  font-size: 0.9rem;
  text-align: right;
}

.price{
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background: white;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}

input{
  display: block;
  text-align: center;
  margin: 0.5rem auto 0px auto;
  border-radius: 10rem;
  border: #e72929 solid 1px;
  height: 0.2rem;
  width: 10rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1rem;
}

